h2 {
    font-size: 38px;
}

p {
    text-align: justify;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.flexible_container {
    display: flex;
    margin-bottom: 100px;
}

.gradient_text {
    color: tomato;
}

.stl_underline {
    border-bottom: 2px solid green;
}

.btn_style {
    background-image: linear-gradient(red, green);
    color: #fff;
    padding: 10px 40px;
    text-decoration: none;
    font-weight: 700;
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;
}

.banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.banner_left {
    width: 50%;
    padding-left: 7%;
}

.banner_left p {
    margin-bottom: 30px;
}

.banner_right {
    width: 50%;
    padding-left: 7%;
}

.banner_right img {
    width: 75%;
}

#about {
    padding: 0 7%;
}

.about_content {
    width: 50%;

}

.about_content img {
    width: 75%;
}

.min_content {
    padding-right: 7%;
}

#teacher_blog {
    padding: 0 7%;
}

.teach_blog_heading h2 {
    border-bottom: 2px solid green;
    text-align: center;
}

.teach_blog {
    width: 25%;
    padding: 10px 30px;
    margin-left: 10px;
    padding-bottom: 30px;
}

.teach_blog img {
    width: 100%;
}

.teach_blog h3 a {
    font-size: 18px;
    text-decoration: none;
}

.teach_blog h3 a:hover {
    color: red;
}

.notice {
    width: 25%;
    padding: 0px 30px;
}

.notice h3 {
    font-size: 22px;
    border-bottom: 2px solid green;
    font-weight: 600;
}

.notice h6 a {
    font-size: 14px;
    text-decoration: none;
}

.notice h6 a:hover {
    color: red;
}

.footer {
    background-color: tomato;
    min-height: 150px;
    padding-top: 30px;
    padding-bottom: 40px;
}

.footer h3,
p {
    text-align: center;
    color: #fff;
}